@charset "UTF-8";

/* フォントのインポート */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


/* ============================= */
/* デフォルトCSSの上書き */
/* ============================= */
body {
    font-family: "Noto Sans JP", sans-serif;
	color: #e4e4e4;
	background-color: #35363A;
	flex-direction: column;
	display: flex;
}

.title a {
	text-decoration: none;  /* 下線を取り消す */
    color: rgb(255, 255, 255);
}

.title a:hover {
    color: rgb(225, 225, 225);
}


/* ============================= */
/* フッター */
/* ============================= */
footer{
	left: 0;
	width: 100%;
	color: white;
	margin-top: 80px;
	background: rgb(49, 49, 49);
}

footer address {
	padding: auto auto;
}


/* ============================= */
/* ログイン周り */
/* ============================= */
.login {
	width: 320px;
	margin: 30px auto;
  }

.login_header {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 20px 0 0 0;
	text-align: center;
	color: #e4e4e4;
}

.login_container {
	border-radius: 10px;
	background: #b1b1b1;
	padding: 12px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

.login p {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px 15px 5px 15px;
}

.login input {
	border-radius: 10px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #ebebeb;
	padding: 10px;
	margin: 5px 0;
	outline: 0;
}

.login input[type="text"], .login input[type="password"] {
	background: #fff;
	border-color: #bbb;
	color: #555;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
	border-color: #888;
}

.login input[type="submit"] {
	font-size: 80%;
	margin: 25px 0px 20px 0px;
	background: #006ec8;
	border-color: transparent;
	color: #fff;
	cursor: pointer;
}

.login input[type="submit"]:hover {
	background: #004e8f;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
	background: #004e8f;
}

.login_container label[for="error_message"] {
	color: rgb(194, 0, 0);
	font-size: 70%;
	margin: 15px 10px 0px 17px;
	display: inline-block;
}

/* プレビュー */
#preview img {
	width: 200px;
	margin: 10px;
	border: solid 1px silver;
}

/* 必須ボタン */
.required::after {
	content: "必須";
	color: #ffffff;
	background: rgb(0, 158, 126);
	font-size: 0.3em;
	padding: 0 6px 0px 6px;
	border-radius: 1.5em;
	margin-left:2em;
}


/* ============================= */
/* 書籍の登録 */
/* ============================= */
