@charset "UTF-8";

/* フォントのインポート */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    font-family: "Noto Sans JP", sans-serif;
}


/* ============================= */
/* 開始：ログイン周り */
/* ============================= */
.login {
	width: 320px;
	margin: 30px auto;
  }

.login_header, .login p {
	margin-top: 0;
	margin-bottom: 0;
}

.login_header {
	padding: 20px 0 0 0;
	text-align: center;
	color: rgb(49, 49, 49);
}

.login_container {
	border-radius: 10px;
	background: #e8e8e8;
	padding: 12px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

.login p {
	padding: 12px;
}

.login input {
	border-radius: 10px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #ebebeb;
	padding: 10px;
	margin: 5px 0;
	outline: 0;
}

#error_message {
	color: rgb(194, 0, 0);
	font-size: 70%;
	padding: 10px 0px 0px 15px;
}

.login input[type="text"], .login input[type="password"] {
	background: #fff;
	border-color: #bbb;
	color: #555;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
	border-color: #888;
}

.login input[type="submit"] {
	background: #961BF6;
	border-color: transparent;
	color: #fff;
	cursor: pointer;
}

.login input[type="submit"]:hover {
	background: rgb(127, 0, 225);
}
  
/* Buttons' focus effect */
.login input[type="submit"]:focus {
	border-color: rgb(139, 0, 246);
}

.account_create {
	padding: 15px 10px;
	text-align: left;
	font-size: 80%;
}

.account_create a {
	color: #b1b1b1
}

.account_create a:hover {
	color : #828282;
}

/* ============================= */
/* 終了：ログイン周り */
/* ============================= */



.book_list, .book_info {
	position: relative;
	background-color: #f1f1f1;
	margin-left: auto;
	margin-right: auto;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
	width: 600px;
}

.book_list:hover {
	background-color: #e4e4e4;
	margin-left: auto;
	margin-right: auto;
    border: 2px solid #b7b7b7;
    border-radius: 10px;
	width: 600px;
}

.book_list a {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.book_list a:hover{
	background-color: #e4e4e4;
	opacity: 0.3;
    border-radius: 10px;
}